<div class="container">
  <div>
    Dividasaurus is a web application to make it easy to divide shared season tickets. If you already have an account, please <span><a class="signin" href="/signin">sign_in</a></span>. If you're new to Dividasaurus, you can <span"><a class="signup" href="/signup">sign up</a></span> for a new account.
  </div>
</div>
